@charset 'utf-8';
// Variables
@import 'variables';
@import 'reset';

a{
  color: inherit;
  text-decoration: none;
}

*:focus{
  // outline: none;
}
button{
  background:none;
  border:none;
  color:inherit;
  transition:.3s;
  cursor:pointer;
}
